body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/images/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculator {
    border-color: rgb(104, 69, 14);
    background-color: rgb(249, 171, 62);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 300px;
    outline-style: solid;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

#result {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 400;
}

button:hover {
    background-color: rgb(247, 236, 155);
    cursor: pointer;
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}
