/* Reset default margin and padding */

body, h1, h2, h3, p {
    
    background: url(https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80);
    background-repeat:no no-repeat ;
    margin: 0;
    padding: 0;
    color: #333;
}

h1{
text-align:center;
font-weight: bold;
font-size: 40px;
margin-top: 40px;
padding-top: 5%;

}
#about {
    font-style:sans-serif;
    
    
    color: #f2fafd;
    
}


/* Basic styling */
body {
    font-family:sans-serif;
}

.container {
    /*max-width: 1200px;*/
    margin: 0 auto;
    padding: 0px;
}

/* Header */
header {margin: 0;
    background-color:white;
    color: rgb(10, 10, 10);
    padding:0%
}

nav ul {
    list-style: none;
    text-align: right;
    margin-bottom: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;

}

nav a {
    color: rgb(22, 12, 12);
    text-decoration: none;
    

}

/* Sections */
.section {
    padding: 60px 0;
}

/* Projects */
.project {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
