/* Reset default browser styles */
h1 ,button {
    margin: 0;
    padding: 0;
    font-family: 'Finger Paint', cursive;
  }

  body {
    background-image: url('/images/tictactoe\ image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b5313100;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #restartBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #469af4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #e79999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .box.win {
    background-color: #7de7a6;
  }
  
  