body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #9b59b6, #f39c12);
}

.box {
    width: 400px;
    height: 200px;
    background-color: rgb(186, 201, 196);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.05);
}

.box h2,p{
    text-align: center;
    padding: 5px;
}


