body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: hidden;
}

.left {
    float: left;
    width: 50%;
    padding: 20px;
}

.right {
    float: right;
    width: 50%;
}

img {
    max-width: 100%;
    height: auto;
}

#login-container {
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

.login-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.social-login {
    margin-top: 20px;
}