body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image:url(fb-img.webp) ;
    background-size: cover; /* Adjust this property as needed */
    background-repeat: no-repeat;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make the container take up the full viewport height */
    
    
}

.content{
    background-color:bisque; 
    margin:5rem

}