body {
    background-color: cyan; /* Change the background color to cyan blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Add some margin or padding to the statusText element */
#status {
    margin-top: 20px; /* You can adjust this value as needed */
    font-size: 24px; /* Adjust the font size if necessary */
}

.container {
    text-align: center;
}

.board {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.cell {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    border: 2px solid #333;
}

.element {
    width: 50px; /* Adjust the size of the element */
    height: 50px; /* Adjust the size of the element */
    background-color: #333; /* Element color */
    border-radius: 50%; /* Create circular elements */
}



.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6),
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border: none;
}

h1 {
    font-size: 36px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
