/* This is a CSS comment */

/* Styling for the body element */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #dfb450;
    margin: 10px;
    padding: 0;
  }
  
h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

}
h2{
  text-decoration: solid;
  text-transform: capitalize;
  text-shadow: rgb(9, 237, 138);
}
div{
    font: size 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:10px;

}