body {
    background-color: #decd0b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/images/island.jpg");
    background-size: cover;
}

.game-container {
    text-align: center;
    background-color: #c8c817;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    font-size: 24px;
    width: 100px;
    height: 100px;
    border: none;
    background-color: #8b4513;
    cursor: pointer;
    transition: background-color 0.3s;
    background-image: url('wood-texture.jpg');
    color: rgb(11, 11, 11);
}

.cell:hover {
    background-color: #654321;
}

.cell.clicked {
    pointer-events: none;
    transition: none;
}

#reset-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #111211;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#reset-button:hover {
    background-color: #1f3620;
}
