body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images//.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: #302f2f;
    /*text-shadow: 2px 2px 4px rgba(12, 1, 1, 0.958);*/
    text-emphasis: bold;
    border-width: 1px;
    border-color: #0f0f10;
}

.tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
   }

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, border 0.3s;
    border: 2px solid transparent;  /* Default transparent border to prevent shifting */
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgba(242, 96, 159, 0.555);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, border 0.3s;
    border: 2px solid transparent;  /* Default transparent border to prevent shifting */
}

.tile:hover {
    background-color: rgba(217, 80, 140, 0.921);
}

.winner {
    background-color: hsla(264, 71%, 73%, 0.785);
}

button:hover{
    background-color: rgb(27, 57, 89);
    cursor: pointer;
    transform: scale(1.1);
}

#winner-message {
    font-size: 24px;
    color: black;
    margin-top: 20px;
    font-style: inherit ;
}

#clear-button {
    margin-top: 20px;
    background-color: #0f0f10;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
   
}
