body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('/images/calsin.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.calculator {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#result {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  font-size: 20px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

button.operator {
  background-color: #f0f0f0;
}

button.equal {
  background-color: #3498db;
  color: white;
}