body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #c7eaa6;
    background-image: url('/images/TicTacToe_bg_PP.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    color: #fff;
    text-align: center;
}

.container {
    text-align: center;
    background-color: #8ee1b0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: 300px;
    
    
    
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #77e6bf;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
   
    cursor: pointer;
    
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    
}