body {
    text-align: center;
    font-family: Arial, sans-serif;
}
body {
    background-color: peachpuff; /* Set the background color to black */
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #eee;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.message {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.reset-button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}