.pricing-table {
    display: flex;        /* Flex layout so items have equal height  */
    flex-flow: row wrap;  /* Allow items to wrap into multiple lines */
    max-width: 80%;
  }
  .item { 
    flex: 1 0 280px;
    display: flex;        /* Lay out each item using flex layout */
    flex-flow: column;    /* Lay out item’s contents vertically  */
  }
  
  .item__info {
    display: flex;
    align-items: center;
    margin-top: auto;     /* Auto top margin pushes button to bottom */
  }
  
  
  /* Styles not relevant to flexbox */
  .pricing-table {
    margin: 0 auto;
    font-family: Helvetica;
  }
  
  .item {
    margin: 0 10px 10px;
    border: 3px solid #a6a6a6;
  }
  .item--cta {
    border-color: #9dc7e3;
  }
  
  .item__header {
    font-size: 2.5rem;
    margin: 0 0 0.6rem;
    background: #212121;
    color: #ededed;
    padding: 10px;
    text-align: center;
  }
  .item__header--cta {
    background: #0476bd;
  }
  .item__info {
    border-top: 1px solid #ccc;
  }
  .item__info__price {
    font-size: 1.5rem;
  }
  
  .btn {
    margin: 20px;
    background: #9cc23c;
    display: block;
    border: 2px solid #aecc62;
    color: #fff;
    font-size: 1rem;
  }